{% extends "main.html" %}
{% block body %}

	<h2>{{variable|default:"No tengo data"}}</h2>
	<!--<p>{{cinta|safe}}</p>-->
	<h2>URL's</h2>
	<a href="{% url 'gatos-suma' 10 50 %}">Ir a contacto</a>
	<h2>Contacto</h2>
	{% include "contacto.html" with name="Paco" mail="paco@mail.com" %}
	<h2>Perros</h2>
	{% if lista|length > 5 %}
		{% for dato in lista %}<p>{{dato}}</p>	{% endfor %}
	{% elif lista|length == 2 %}
		tiene 2
	{% else %}
		no tengo más de 5
	{% endif %}
	<ul>
	{% for perro in datos.items %}
		<li>{{perro}}</li>
	{% endfor %}
	</ul>
	</br>
	<h2>Gatos</h2>
	<ul>
	{% for gato in lista  %}
		<li>{{gato}}</li>
	{% empty %}
		<h3>:( no ni un pinshi gato aquí</h3>
	{% endfor %}
		El total de gatos es {{lista|length}}
	
	</ul>
{% endblock body %}