<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles  %}
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		p {
			color : red;
		}
	</style>
	<link rel="stylesheet" href="{% static 'css/materialize.min.css'  %}">
	{% block css  %}
	{% endblock css %}
</head>
<body>

<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="">Contacto</a></li>
      </ul>
    </div>
  </nav>
        

	{% if user.is_authenticated %}
	<a href="{% url 'sites-logout' %}">Cerrar sesion</a>

	{% endif  %}

	{% block body %}
		
	{% endblock body %}

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/materialize.min.js' %}"></script>


</body>

</html>